
<div class="nav">
    <a class="navlink" href="./welcome"> welcome </a>
    <a class="navlink" href="./loginpage"> login </a>
    <a class="navlink" href="./registerpage"> register </a>
    <a class="navlink" href="./logout"> logout </a>
    <a class="navlink" href="/">home </a>
</div>